Source: libtertiusqbit-application-model-memcached-perl
Section: perl
Priority: extra
Maintainer: Dmitry Lukiyanchuk <wtertius@gmail.com>
Build-Depends: debhelper (>= 8.0.0), perl, libtertiusqbit-perl, libtertiusqbit-application-perl, libcache-memcached-perl, libdigest-sha1-perl, libdigest-crc-perl
Standards-Version: 3.9.4

Package: libtertiusqbit-application-model-memcached-perl
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, perl, libtertiusqbit-perl, libtertiusqbit-application-perl, libcache-memcached-perl, libdigest-sha1-perl, libdigest-crc-perl
Conflicts: libqbit-application-model-memcached-perl
Replaces: libqbit-application-model-memcached-perl
Description: Model for working with memcached.
 Model for working with memcached.
